.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    border: 1px solid #000;
  }
  
  .formulario .input-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .formulario input {
    border: 1px solid #CCC;
    padding: 5px; }

    label {
        font-family: Arial, Helvetica, sans-serif;;
    }

    body{
        background: rgb(250, 234, 246);
    }

    h1{
      text-align: center;
    }

    #miBotonGreen {
      background-color: #4CAF50; /* Color de fondo */
      border: none; /* Elimina el borde */
      color: white; /* Color del texto */
      padding: 10px 25px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
      text-align: center; /* Centra el texto */
      text-decoration: none; /* Elimina la subrayado del texto */
      display: inline-block; /* Permite que el botón se muestre como un bloque en línea */
      font-size: 16px; /* Tamaño de fuente */
      margin: 4px 2px; /* Margen exterior (arriba/abajo y izquierda/derecha) */
      cursor: pointer; /* Cambia el cursor al pasar por encima */
      border-radius: 20px; /* Borde redondeado */
    }

    #miBotonBlue {
      background-color: #5549f7; /* Color de fondo */
      border: none; /* Elimina el borde */
      color: white; /* Color del texto */
      padding: 10px 25px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
      text-align: center; /* Centra el texto */
      text-decoration: none; /* Elimina la subrayado del texto */
      display: inline-block; /* Permite que el botón se muestre como un bloque en línea */
      font-size: 16px; /* Tamaño de fuente */
      margin: 4px 2px; /* Margen exterior (arriba/abajo y izquierda/derecha) */
      cursor: pointer; /* Cambia el cursor al pasar por encima */
      border-radius: 20px; /* Borde redondeado */
    }